.bottom-bar
  .bottom-bar__content
    .bottom-bar__content__logo
      = icon('fab fa-twitter-square',class:"contents__btn")
    .bottom-bar__content__twitter
      = link_to "https://twitter.com/home" do
        Twitter name @Mitsusawa5