.wrapper
  = render "top-bar"
.profile-box-aibot
  .profile-box-link
    %a Aibot _アイボット_
  .profile-box-main
    .profile-box-main-photo
      = image_tag '/images/aibot-img.png', size:'400x350',class: "aibot-photo-img", alt:"画像を表示出来ません" 
    .profile-box-main-text
      .profile-box-main-text-main
        __LINE Chat bot アプリ__
        %br
        %br
        現在開発中
        %br
        製作者の朝寝坊を改善する為に作成開始。
        %br
        定時になるとメッセージ告知を送ってお知らせします。
        %br
        返信をしないと繰り返し告知が来るので２度寝防止機能あり。
        %br
        機能的にはまだ至りませんが機能追加更新中。
        %br
        %br
        ＝使用言語＝
        %br
        ・Python
        %br
        ＝機能紹介はこちら＝
        %br
        GitHub　URL
        %br
        = link_to "https://github.com/MItsusawa-5/Aibot" do
          https://github.com/MItsusawa-5/Aibot
        %br
        ・アプリ参照方法
        %br
          LINEアプリ、友達ID検索で「1654902973」を検索して下さい。
        %br
        %br
.wrapper
  = render "bottom-bar"