.wrapper
  = render "top-bar"
.main-link-box
  .link-profile
    = link_to profile_items_path do
      Profile
  .link-content
    = link_to content_items_path do
      Content
.main-top
  .main-top-image

.wrapper
  = render "bottom-bar"