.wrapper
  = render "top-bar"
.main-top
  .main-top-image
  .main-top-name
    .main-top-name-first
      K A Z U Y A   
    .main-top-name-family
      I G A R A S H I

.wrapper
  = render "bottom-bar"