.bottom-bar__content{
  display: flex;
  .bottom-bar__content__logo{
    margin-right: 10px;
  }
  .bottom-bar__content__twitter{
    a{
      font-weight: bold;
      color: black;
    }
    a:hover {
      color:blue; 
    }
  }
}